block variables

doctype html
html
  head
    title Hyr i Nerja - #{title}
    script(src='https://identity.netlify.com/v1/netlify-identity-widget.js')
    script.
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', function (user) {
          if (!user) {
            window.netlifyIdentity.on('login', function () {
              document.location.href = '/admin/';
            })
          }
        })
      }
  body
    block content
